.toggleButton {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #8cf2ff !important;
  -webkit-text-stroke: 1px #6c6969;
  text-shadow: 1.5px 2px 0 #313131, -1px -1px 0 #313131, 1px -1px 0 #313131, -1px 1px 0 #313131, 1px 1px 0 #313131;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    color: red !important;
  }
}

.toggled {
  transform: rotate(45deg);
}

.disabled,
.disabled:hover,
.disabled:visited {
  background-color: rgb(266, 266, 266);
  color: rgba(16, 16, 16, 0.5);
  cursor: not-allowed;
}