/* Define the animation */
@keyframes accordion {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

/* Define the reverse animation for hiding */
@keyframes accordion-reverse {
  0% {
    max-height: 1000px;
    opacity: 1;
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

/* Apply the animation to the element */
.accordionContent {
  animation: accordion 1s ease forwards;
  max-height: 1000px;
  overflow: hidden;
}

.accordionContentHide {
  animation: accordion-reverse 1s ease forwards;
}