.leaflet-bar a.track-criteria-option {
  white-space: nowrap;
  font-weight: bold;
  color: blue;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

.leaflet-bar a.track-criteria-option:hover {
  font-style: underline;
  color: red;
}

.options h3 {
  margin: 0;
}