#map-container {
  position: relative;
  display: flex;
  width: 100%;
}

.leaflet-top.leaflet-left>.leaflet-control:first-child {
  margin: 0;
}

.leaflet-container {
  width: 100%;
}

/* See about making a generic style for controls to use for this
or repeat stylefd component? (Lots of repeating. Hard to update
or keep consistent) */
a.disabled,
a.disabled:hover,
a.disabled:visited {
  background-color: rgb(266, 266, 266);
  color: rgba(16, 16, 16, 0.5);
  cursor: not-allowed;
}