.toggle-header {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

.toggle-header h1,
.toggle-header h2,
.toggle-header h3,
.toggle-header h4,
.toggle-header h5,
.toggle-header h6 {
  margin-top: 0;
  margin-bottom: 0;
}