html {
  font-family: system-ui;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: .5em;
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #eee, #999);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#app {
  position: absolute;
  left: 14px;
  right: 14px;
}

/* #map-container {
  position: relative;
  display: flex;
  width: 100%;
} */

/* .leaflet-container {
  width: 100%;
} */

/* .height-rate-header,
.slope-header {
  margin-top: 0.5em;
  margin-bottom: 0;
} */

/* a.disabled,
a.disabled:hover,
a.disabled:visited {
  background-color: rgb(266, 266, 266);
  color: rgba(16, 16, 16, 0.5);
  cursor: not-allowed;
} */

/* .control {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
} */

/* .options h3 {
  margin: 0;
} */

/* .leaflet-top.leaflet-left>.leaflet-control:first-child {
  margin: 0;
} */

/* Make a programmatic style where this is applied to a control
if it is of the position bottom-right
Could be done at single source if applied to 'ControlHeaderExpand'
with data passed down as to this location */
.leaflet-bottom.leaflet-right .header {
  position: absolute;
  bottom: 75px;
  right: 0;
}