html {
  font-family: system-ui;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: .5em;
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #eee, #999);
  background-repeat: no-repeat;
}

#map-container {
  height: 1000px;
}

.leaflet-container {
  height: inherit;
}