.childColBeside {
  display: flex !important;
  justify-content: left !important;
  align-items: center !important;
}

.toggledBeside {
  width: 100% !important;
}

.beside {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
}

.toggled {
  background-color: #f8ffac !important;
  border-bottom: 1px solid #ccc !important;
  border-top: 1px solid #ccc !important;
}

/* Define the animation */
@keyframes accordion {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 1000px;
    /* Adjust as needed */
    opacity: 1;
  }
}


@keyframes accordion-horizontal {
  0% {
    max-width: 0;
    opacity: 0;
  }

  100% {
    max-width: 1000px;
    opacity: 1;
  }
}

/* Define the reverse animation for hiding */
@keyframes accordion-reverse {
  0% {
    max-height: 1000px;
    opacity: 1;
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes accordion-horizontal-reverse {
  0% {
    max-width: 1000px;
    opacity: 1;
  }

  100% {
    max-width: 0;
    opacity: 0;
  }
}

/* Apply the animation to the element */
.accordionContent {
  animation: accordion 1s ease forwards;
  max-height: 1000px;
  overflow: hidden;
}

.accordionContentHide {
  animation: accordion-reverse 1s ease forwards;
}

.accordionContentHorizontal {
  animation: accordion-horizontal 1s ease forwards;
  max-width: 1000px;
}

.accordionContentHorizontalHide {
  animation: accordion-horizontal-reverse 1s ease forwards;
}