.leaflet-bar.header {
  background-color: rgba(255, 255, 255, 0.5);
}

.leaflet-bar a.header-control {
  width: 100%;
}

.leaflet-bar a.header-control span {
  margin: 5px;
}

.leaflet-bar a.header-control span.icon-label {
  margin: 0;
}